<!DOCTYPE html>
<html>

<!--DEFINING THE HEADER TO CONTAIN BOOTSTRAP STYLING-->
<head>
    <meta charset="utf-8" />
    <title>Health Data Analyzer</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- My personal stylesheet -->
    <link rel="stylesheet" href="style.css">
</head>

<!--INDEX PAGE-->
<body>
    <!--NAVIGATION BAR TO BE USED ACROSS ALL PAGES-->
    <nav class="navbar navbar-light" style="background-color:rgb(7, 18, 82)">
            <div class="container">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html"style="color:white">Health Data Analyzer</a>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        </li>
                        <li><a href="#" style="color:white">Analysis</a></li>
                        <li><a href="#"style="color:white">Team</a></li>
                        <li><a href="#"style="color:white">Github</a></li>
                    </ul>
                </div>
            </div>
        </nav>

    <!--ROW 1: SUMMARY-->    
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>This app allows you to compare the leading causes of death in each state over time
                </h1>
                <hr></hr>
                <a href = "#"><img class="img-responsive shadow float_text_left" src = "#"></a>
                <p> 
                    Placeholder
                </p>
            </div>
        </div>
    </div>

    <!--ROW 2: WORKFLOW-->  
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4>Data for this app was sourced from the Centers for Disease Control's (CDC) National Center for Health Statistics (NCHS) 
                </h4>
                <hr></hr>
                <div class ="imgbox">
                    <img class = "center-fit" src = "CDC.png">
                </div><br/>
            </div>
        </div>
    </div>
    
<!--FOOTER TO BE USED ACROSS ALL PAGES-->
<footer class="footer">
    <!-- Footer Elements -->
    <div class="container">
        <br/>
        <div class ="imgbox">
            <img class = "float_text_left" src = "Picture2.png">
                <!-- div class="footer-copyright text-left py-3"><font color="white">2018</font><br/><br/>  
                </div>
        <br/>
            
        </div>
</footer>

<!-- THE FOLLOWING IS REQUIRED FOR BOOTSTRAP INTERACTIVE COMPONENTS -EX- DROPDOWNS. RECOMMENDED BOTTOM PLACEMENT FOR FASTER LOAD TIME-->

    <!-- jQuery Bootstrap's JavaScript plugins -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </body>
</html>
